{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png'%}" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin="">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Order Success</title>


</head>


<body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <span class="nav__logo-circle">MS</span>
                    <span class="nav__logo-name">Mahmoud Sayed</span>
                </a>
                <div class="nav__menu" id="nav-menu">
                    <span class="nav__title">Menu</span>
                    <h3 class="nav__name">Mahmoud</h3>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'home'%}" class="nav__link active-link">Home</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="{% url 'about_me'%}" class="nav__link">Who Am I</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="{% url 'projects'%}" class="nav__link">Projects</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="{% url 'services'%}" class="nav__link">Services</a>
                        </li>
    
                        <li class="nav__item">
                            <a href="#contact" class="nav__link nav__link-button">Contact Me</a>
                        </li>
                    </ul>
                    <!-- ---  CLOSE BUTTON --- -->
                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
                <div class="nav__buttons">
                    <!-- -- TOGGLE BUTTONS --  -->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-4-line"></i>
                    </div>
                </div>
            </nav>
            
            <div class="container">
            <div style="padding: 8px; text-align: center; margin:135px;">
                <h1>Your Order has been Done Successfully!</h1>
                <br/>
                <p>Thank you for creating your project with us. Your Model details are as follows:</p>
                <div class="order-details">
                <p>Order Number: <span>#123456</span></p>
                <p>Expected Handover: <span id="expected-delivery-date">November 20, 2023</span></p>
                </div>
                <br/>
                <button style= " background-color: #008000; 
                padding: 10px;
                border: none;
                border-radius: 4px;
                cursor: pointer;" type="submit"><a style="color: #fff;" href="{% url 'home' %}" >Check our Services</a> </button>

            </div> 
            </div>
        </header>
    


<h1>
    I love 
</h1>


<!--==================== FOOTER ====================-->
<div style="width: 100%; position: fixed; bottom: 0; background: #000;"> 
    <footer>
            <div class="footer__container container grid">
                <ul class="footer__links">
                    <li>
                        <a href="{% url 'home'%}" class="footer-link">Home</a>
                    </li>
    
                    <li>
                        <a href="{% url 'about_me'%}" class="footer-link">Who Am I</a>
                    </li>
    
                    <li>
                        <a href="{% url 'projects'%}" class="footer-link">Projects</a>
                    </li>
                </ul>
                <span class="footer__copy">
                &#169; All Rights Reserved By
                <a href="#">Mahmoud</a>
            </span>
            </div>
        </footer>
    </div>


    <!--========== SCROLL UP ==========-->

    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-s-line"></i>
    </a>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>


    <!--=============== EMAIL JS ===============-->


    <!--=============== MAIN JS ===============-->
    <script src="{% static 'js/main.js'%}"></script>
</body>

</html>