
<article class="projects__card">
    <div class="projects__image">
        <img src="{% static 'img/ai-chatbot-app.png'%}" alt="image" class="projects__img">
        <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
        </a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Chatbot</h3>
        <h2 class="projects__title">Chatbot with Natural Language Processing (NLP)</h2>
        <p class="projects__description">
            Create a chatbot that can understand and respond to user queries using NLP techniques, integrating with platforms like Slack or Facebook Messenger.
        </p>
    </div>
    <div class="projects__buttons">
        <a href="" target="_blank" class="projects__link">
            <i class="ri-github-line"></i> View code
        </a>
        <a href="" target="_blank" class="projects__link">
            <i class="ri-dribbble-line"></i> Live
        </a>
    </div>
</article>

<article class="projects__card">
    <div class="projects__image">
        <img src="{% static 'img/Healthcare.png'%}" alt="image" class="projects__img">
        <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
        </a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Healthcare</h3>
        <h2 class="projects__title">Healthcare Diagnosis System</h2>
        <p class="projects__description">
            Design a system that uses machine learning to analyze medical data (such as X-rays or patient records) for automated disease diagnosis or prognosis.
        </p>
    </div>
    <div class="projects__buttons">
        <a href="" target="_blank" class="projects__link">
            <i class="ri-github-line"></i> View code
        </a>
        <a href="" target="_blank" class="projects__link">
            <i class="ri-dribbble-line"></i> Live
        </a>
    </div>
</article>

<article class="projects__card">
    <div class="projects__image">
        <img src="{% static 'img/Translation.png'%}" alt="image" class="projects__img">
        <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
        </a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Translation</h3>
        <h2 class="projects__title">Language Translation Model</h2>
        <p class="projects__description">
            Train a neural machine translation model to translate text between multiple languages, demonstrating the power of sequence-to-sequence models.
        </p>
    </div>
    <div class="projects__buttons">
        <a href="" target="_blank" class="projects__link">
            <i class="ri-github-line"></i> View code
        </a>
        <a href="" target="_blank" class="projects__link">
            <i class="ri-dribbble-line"></i> Live
        </a>
    </div>
</article>

<article class="projects__card">
    <div class="projects__image">
        <img src="{% static 'img/Music.png'%}" alt="image" class="projects__img">
        <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
        </a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Music</h3>
        <h2 class="projects__title">Music Generation with Neural Networks</h2>
        <p class="projects__description">
            Train a neural network to generate music compositions based on patterns learned from existing music datasets.
        </p>
    </div>
    <div class="projects__buttons">
        <a href="" target="_blank" class="projects__link">
            <i class="ri-github-line"></i> View code
        </a>
        <a href="" target="_blank" class="projects__link">
            <i class="ri-dribbble-line"></i> Live
        </a>
    </div>
</article>


{% comment %} # service {% endcomment %}

                
<article class="services__card">
    <div class="services__border"></div>
    <div class="services__content">
        <div class="services__icon">
            <div class="services__box"></div>
            <i class="ri-code-box-line"></i>
        </div>
        <h2 class="services__title">Natural Language Processing</h2>
        <p class="services__description">
            <span class="services__title">NLP</span><br> Familiarity with NLP techniques for tasks such as text classification, sentiment analysis, and language translation.
        </p>
    </div>
    <br/>

    <div class="about__buttons">
        <a href="{% url 'buy'%}" class="button">
            <i class="ri-send-plane-line"></i> Buy Now
        </a>
        <a href="{% static 'https://www.linkedin.com/in/mhmudsayd/'%}" target="_blank" class="button__ghost">
            <i class="ri-linkedin-box-line"></i>
        </a>
    </div>

</article>

<article class="services__card">
    <div class="services__border"></div>
    <div class="services__content">
        <div class="services__icon">
            <div class="services__box"></div>
            <i class="ri-smartphone-line"></i>
        </div>
        <h2 class="services__title">Problem-Solving</h2>
        <p class="services__description">
            <span class="services__title">Strong analytical</span> <br> and problem-solving skills to tackle complex AI challenges and optimize model performance.
        </p>
    </div>
    <br/>

    <div class="about__buttons">
        <a href="{% url 'buy'%}" class="button">
            <i class="ri-send-plane-line"></i> Buy Now
        </a>
        <a href="{% static 'https://www.linkedin.com/in/mhmudsayd/'%}" target="_blank" class="button__ghost">
            <i class="ri-linkedin-box-line"></i>
        </a>
    </div>
</article>